/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

p.lead {
    margin-bottom: 40px;
    text-align: center;
}

.bar.background-image-fixed-2 {
  background: url('../img/blog.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#heading-breadcrumbs {
    margin-bottom: 40px;
    background: url(../img/texture-turquoise.png) center center repeat;
    padding: 20px 0px;
}

@media (min-width: 992px)
bootstrap.css:1940
.col-md-9 {
    width: 95%;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555555;
}

#top p {
    display: none;
}

.col-md-3 .col-sm-6 {
  font-size:14px;
}

#blog-listing-medium .post .intro {
    text-align: right;
    font-style: italic;
}

.box-image-text.blog .intro {
    text-align: justify;
    margin-bottom: 15px;
    font-size: 15px;
    font-style: italic;
}

.box-image-text .image {
    min-height: 150px;
    max-height: 150px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}