/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

p.lead {
    margin-bottom: 40px;
    text-align: center;
}

.bar.background-image-fixed-2 {
  background: url('../img/blog.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#heading-breadcrumbs {
    margin-bottom: 40px;
    background: url(../img/texture-turquoise.png) center center repeat;
    padding: 20px 0px;
}

@media (min-width: 992px)
bootstrap.css:1940
.col-md-9 {
    width: 95%;
}

.col-md-9  {
    font-size: 16px;
}

#top {
    padding: 6px 0;
}

#top p {
    display: none;
}

#top .social a {
    color: #50e6c7;
    width: 30px;
    height: 17px;
    font-size: 11px;
}

.col-xs-7 {
    width: 58.33333333%;
    margin-top: -8px;
    padding-bottom: 3px;
}

.col-md-3 .col-sm-6 {
  font-size:14px;
}

#blog-listing-medium .post .intro {
    text-align: right;
    font-style: italic;
}

.box-image-text.blog .intro {
    text-align: left;
    margin-bottom: 15px;
    font-size: 15px;
    font-style: italic;
}

.box-image-text .image {
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    min-height: 100%;
    display: block;
    min-width: 80%;
    max-width: 95%;
    height: auto;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.box-image-text .image {
    min-height: 200px;
    max-height: 250px;
    margin: -20px;
}

.box-image-text .top {
    position: relative;
    overflow: hidden;
}

#footer .blog-entries .item .image {
    float: left;
    width: 15%;
    margin-right: 10px;
    position: relative;
    height: 20px;
    overflow: hidden;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsivefooter, .thumbnail a>img, .thumbnail>img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    height: 20px;
    max-height: 20px;
    margin: auto;
}

.tableauPlaceholder {
    display:block;
    position: relative;
    max-width: 95%;
    height: 650px;
    display: block;
    overflow-x: scroll;
}